* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
}

#wrapper {
  width: 1000px;
  margin: 50px auto;
}

#header {
  float: left;
  width: 100%;
}

.col {
  width: 50%;
  float: left;
}

h1 {
  font-size: 22px;
  font-weight: bold;
}

.description {
  font-size: 12px;
}

.instructions {
  margin: 20px 0;
  font-size: 14px;
}

.instructions ul {
  list-style-type: square;
}

.instructions li {
  margin-left: 15px;
  padding-right: 50px;
}

#dropzone {
  display: inline-block;
  background: #DAF7A6;
  border: 3px dashed black;
  text-align: center;
  width: 100%;
  padding: 50px 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#dropzone.active {
  background: #FFC300;
}

#save {
  background: #2A9BD3;
  color: white;
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  border: 1px solid black;
  text-transform: uppercase;
}

#save:hover {
  background: #581845;
}

.success {
  background: #23992C !important;
}

.failed {
  background: #D32A2A !important;
}

#options {
  margin: 30px 0;
  width: 100%;
  float: left;
}

a {
  text-decoration: none;
}

#options ul {
  list-style-type: none;
  position: relative;
}

#options li {
  width: 25%;
  float: left;
}

#options li::before {
  content: attr(data-content);
  position: absolute;
  font-size: 12px;
  top: -12px;
}

#options input {
  text-align: center;
  font-family: monospace;
}

#editor {
  float: left;
}

#editor ul {
  list-style-type: none;
}

.moving {
  border: 2px solid red;
}

.move-destination {
  border-bottom: 2px solid red;
}

#editor li:last-child {
  margin-bottom: 5px;
}

#editor li::before {
  content: attr(data-prefix);
  margin-right: 2px;
  font-family: monospace;
  white-space: pre;
}

#editor input {
  background: none;
  border: none;
}

#editor input:hover {
  border: 1px solid blue;
}

#listEntry {
  margin-left: 10px;
}

#contextMenu {
  position: absolute;
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#contextMenu.active {
  display: block;
}

#contextMenu ul {
  list-style-type: none;
}

#contextMenu li {
  padding-right: 5px;
  float: left;
  cursor: pointer;
  color: blue;
}

#contextMenu li:not(:first-child)::before {
  content: '|';
  color: black;
  margin-right: 5px;
}

#contextMenu li:hover {
  color: lightblue;
}

#output {
  opacity: 0;
  height: 0;
  width: 0;
  white-space: pre;
}
