* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10px;
  font-family: Helvetica;
  overflow-x: hidden;
}

h1 {
  font-size: 22px;
  font-weight: bold;
}

.description {
  font-size: 12px;
}

.instructions {
  margin: 20px 0;
}

.instructions ul {
  list-style-type: square;
}

.instructions li {
  margin-left: 20px;
}

#save {
  display: inline-block;
  background: #333;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
}

#save:hover {
  background: #999;
  color: black;
}

#dropzone {
  font-size: 14px;
  display: inline-block;
  padding: 6px 50px;
  border: 2px dashed black;
  margin-left: 10px;
}

#dropzone.active {
  border: 2px solid orange;
  color: orange;
}

.notification {
  display: inline-block;
  margin-left: 5px;
}

.success::after {
  content: 'Saved!';
  color: green;
}

.failed::after {
  content: 'Failed!';
  color: red;
}

hr {
  margin: 20px 0;
}

#options {
  position: absolute;
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#options.active {
  display: block;
}

#options ul {
  list-style-type: none;
}

#options li {
  padding-right: 5px;
  float: left;
  cursor: pointer;
  color: blue;
}

#options li:not(:first-child)::before {
  content: '|';
  color: black;
  margin-right: 5px;
}

#options li:hover {
  color: lightblue;
}

#editor {
  margin-left: 15px;
}

#editor ul {
  list-style-type: none;
}

#editor li:last-child {
  margin-bottom: 5px;
}

#editor li::before {
  content: attr(data-prefix);
  margin-right: 2px;
  font-family: monospace;
  white-space: pre;
}

#editor input {
  background: none;
  border: none;
}

#editor input:hover {
  border: 1px solid blue;
}

#listEntry {
  margin-left: 10px;
}

#output {
  opacity: 0;
  height: 0;
  width: 0;
  background: blue;
  white-space: pre;
}
